@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    overflow-x: hidden; /* Hide browser horizontal scroll */
  }
  
  .streak-container {
    max-width: 100vw;
    overflow-x: auto;
  }
  
  .streak-container::-webkit-scrollbar {
    display: none;
  }